## Examples

In [2]:
import numpy as np
import pandas as pd

In [5]:
data = np.random.randn(5, 4)
data

array([[ 0.12026181,  0.09164836, -0.23069924, -1.81778679],
       [ 0.55116603, -0.78431078,  1.06228372, -1.35697214],
       [ 0.09368346,  0.8802231 , -0.6788522 , -0.07293631],
       [-0.78396053, -1.27230559, -0.30278925, -0.64483493],
       [ 0.5150341 ,  0.26601231,  0.96459626, -0.10337488]])

In [6]:
df = pd.DataFrame(
    data, 
    index=['a', 'b', 'c', 'd', 'e'],
    columns=['Col1', 'Col2', 'Col3', 'Col4'])
df

       Col1      Col2      Col3      Col4
a  0.120262  0.091648 -0.230699 -1.817787
b  0.551166 -0.784311  1.062284 -1.356972
c  0.093683  0.880223 -0.678852 -0.072936
d -0.783961 -1.272306 -0.302789 -0.644835
e  0.515034  0.266012  0.964596 -0.103375

In [8]:
col2 = df[['Col2']]
type(col2)

pandas.core.frame.DataFrame

In [9]:
df = pd.DataFrame({
    'Full Name': ['John', 'Dave', 'Prakesh', 'Wren'],
    'Age in Years': [18, 23, 44, 33]
})
df

  Full Name  Age in Years
0      John            18
1      Dave            23
2   Prakesh            44
3      Wren            33

In [12]:
df.columns

Index(['Full Name', 'Age in Years'], dtype='object')

In [15]:
df = df.rename(columns={
    k: k.replace(' ', '_').lower() for k in list(df.columns)
})
df

  full_name  age_in_years
0      John            18
1      Dave            23
2   Prakesh            44
3      Wren            33

In [16]:
dict1 = pd.DataFrame(
    data=[[9, 8, 1],
          [9, 6, 2],
          [7, 6, 7],
          [1, 8, 8]],
    index=[0, 1, 2, 3],
    columns=['Item1', 'Item2', 'Item3']
)
dict1

   Item1  Item2  Item3
0      9      8      1
1      9      6      2
2      7      6      7
3      1      8      8